#topo {
 color: #ee8f44;
 text-align: center;

 }

body {
    background-color: #d9edf2;
    font-family: "Times New Roman", sans-serif;
    color: #01010a;
}

h2 {
    color: #e85d04;

}

.inicio {
    color: #ee444e

}

.importante {
    color: #9d980c;

}