#topo {
 color: #9d4f0c;
 }

body {
    background-color: #fdfcd0;
    font-family: "Times New Roman", sans-serif;
    color: #01010a;
}

h2 {
    color: #e85d04;
}

.inicio {
    color: #e8e012
}

.importante {
    color: #9d980c;
}